
/* Name: Hanbing Wang Heather
Student ID: 1153195 */

body {
  background-color: #B4CDE6;
  
  }


h2{
  font-size: 1.5em;
  text-align: center;
}
  
footer {
  
  text-align: center;
}

.airport_to_book {
  text-align: center;
  font-size: 1.5em;
  margin-top: -2%;
  margin-bottom: 4%;
}

.admin-portal {
  display: inline-block;
  position: absolute;
}


.btn-add-passenger {
  position: absolute;
  margin-left: -24%;
  margin-top: 1%;
}



.btn-add-flight{
  display: inline-block;
  position: absolute;
  left: 1%;
  top: 33%;
}

.btn-to-search {
  display: inline-block;
  position: absolute;
  left: 105%;
  top: 2%;
}

.flight_details { 
  margin: 9% 1% 1% 1%;; 
}

.modal-btn {
  margin-top: 20%;
}

.first_filter {
  display: inline-block;
  position:absolute;
  margin-left: 9%;
  margin-top:4%;
}


.filter_table {
  display: inline-block;
  position:absolute;
  margin-top: -15%;
  margin-left: 20%;
}


.form-control-inline {
  display: inline;
  
}

.goback-btn {
  position: absolute;
  margin-top: -3%;
  margin-left: 93%;
  
}

.info_table {
  margin: 1%;
}

.jumbotron {
  background: rgba(255,255,255,0.4);
  margin: 100px 500px;
  height: 300px;
  padding-top: 50px;
  padding-bottom: 80px;
  text-align: center;
}


.logo {
  float: right;
}

.passenger_info {
  margin-top: -3%;
}

.passenger_search {
  display: inline-block;
  position: absolute;
  margin-left: 82%;
  margin-top:-1%;
  
}

.search-box{
  display: inline-block;
  padding: 1%;
  margin-right: 15%;
}



.user_info {
  display: inline-block;
  position:absolute;
  
}


.second_filter {
  display: inline-block;
  width: 22%;
  margin-left: 63%;
  margin-top: 3%;
}

.second_filter .btn {
  display: inline-block;
  position:absolute;
  margin-left: 11.5%;
  margin-top: -1.5%;
}

.staff-info {
  margin: 0.5% 0.5% 0.5% 0.5%;
  
}