body {
  background-color: #AEBDCA;
  
  }
.logo {
  float: right;
}

h2{
  font-size: 1.5em;
  text-align: center;
}
  
footer {
  
  text-align: center;
}

.airport_to_book {
  text-align: center;
  font-size: 1.5em;
  
}

.modal-btn {
  margin-top: 20%;
}

.form-control-inline {
  display: inline;
  
}

.search-box{
  display: inline;
  padding: 1%;
  margin-right: 15%;
}

.info_table {
  margin: 1%;
}

.filter_table {
  display: inline-block;
  position:absolute;
  margin-top: -15%;
  margin-left: 20%;
}

.user_info {
  display: inline-block;
  position:absolute;
  
}

.first_filter {
  display: inline-block;
  position:absolute;
 
}
.second_filter {
  display: inline-block;
  width: 25%;
  margin-left: 50%;
}