{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <style>
      body {
          background-image: url('../static/img/blue_sky.jpg');
      }
  </style>
{% endblock %}

{% block title %}Admin Log in{% endblock %}



{% block content %}

<div class="jumbotron">

  <div class="card-body">
    <h1 class="card-title">Staff Please Sign in :</h1> 

    <hr class="my-4">
     <form action="{{ url_for ('admin_login_form') }}" method="post">

         <select name="staff_id"  >
          <option value=""  >--Please choose your name to login--</option>
          {% for staff in staffs %}
            <option value="{{ staff[1] }} " >{{ staff[1] }} {{ staff[0]}} </option>  
          {% endfor %}   
         </select>
       <button type="submit" class="btn btn-dark">Login</button> 
     </form>
   </div>
 
</div> 

  {% endblock %}