{% extends "base.html" %}

{% block title %}Flights Dashboard{% endblock %}


{% block content %}


<div class="row">
  <div class=""col-md-6 col-md-offset-3>
    <h3>Welcome!</h3>
    {% if session['staff_id']%}
      <h3>Staff ID: {{session['staff_id']}}
        <p> Staff Name : {{ session['staff_name'] }}</p>
        {% if  session['is_manager'] == 1 %}
          <p> Staff Type : Manager</p>
        {% else %}
          <p> Staff Type : Staff</p>
        {% endif %}
      <a href="{{ url_for('admin_logout') }}" class="btn btn-dark btn-sm">Logout</a> </h3>
    {% else %}
     <p> Not login yet</p>
    {% endif %}
  </div>
</div>


<br>

<div class="passenger_info">
  <h3 style="text-align:center">Flight List</h3>
  <table class="table table-hover" id="bookings">
      
       
    <thead>
      <tr>
        {% for name in column_names %}
          <th>{{name}}</th>
        {% endfor %}
      </tr>
    </thead>
  
    <tbody>
      {% for flight in all_flights %}
      <tr>
          <td><a href="#">{{flight.0}}</a></td>
          <td>{{flight.1}}</td>
          <td>{{flight.2}}</td>
          <td>{{flight.3}}</td>
          <td>{{flight.4}}</td>
          <td>{{flight.5}}</td>
          <td>{{flight.6}}</td>
          <td>{{flight.7}}</td>
          <td>{{flight.8}}</td>
          <td>{{flight.9}}</td>
          <td>{{flight.10}}</td>
          <td>{{flight.11}}</td>
          <td>{{flight.12}}</td>
      </tr> 
      {% endfor %}
    </tbody>
  </table>

</div>


<br>



{% endblock %}