{% extends "base.html" %}

{% block title %}Flights Dashboard{% endblock %}


{% block content %}
<!-- flask message after command executed -->

{% if msg_sent: %}

  {% with messages = get_flashed_messages() %}
    {% if messages%}
      {% for message in messages %}
        <div class="alert alert-success info_table " role="alert">
          {{ message }}
        </div>
      {% endfor %}
     {% endif %} 
  {% endwith %}
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Congratulations!</h4>
    <p>You are successfully updated your detials.</p>
    <hr>
    <p class="mb-0">You can check your booking information in the <a href="{{ url_for('booking_info', passenger_id=passenger_id) }}">Booking Information</a> page.</p>
    
  </div>


{% else: %}

<!-- Display Looged in staff information and manager level -->
<div class="info_table user-info">
  <div class="user_info">
    <h4>Welcome!</h4>
    {% if session['staff_id']%}
      <p>Staff ID: {{session['staff_id']}}
        <p> Staff Name : {{ session['staff_name'] }}</p>
        {% if  session['is_manager'] == 1 %}
          <p> Staff Type : Manager</p>
        {% else %}
          <p> Staff Type : Staff</p>
        {% endif %}
      <a href="{{ url_for('admin_logout') }}" class="btn btn-outline-danger btn-sm">Logout</a> </p>
    {% else %}
     <p> Not login yet</p>
    {% endif %}
  </div>
</div>

<br>




<!-- Display information of each flight -->

{% if flight_info %}

    <div class="flight_passenger flight_details">
      <h5> Flight ID: {{flight_id}}</h5>
      <h3 style="text-align:center">Flight Details</h3>
      <table class="table table-hover" id="bookings">
        <thead>
          <tr>
            {% for column in columns %}
              <th>{{column}}</th>
            {% endfor %}
          </tr>
        </thead>
      
        <tbody>
          {% for info in flight_info %}
          <tr>
              <td>{{info.0}}</td>
              <td>{{info.1}}</td>
              <td><a href="/admin/passengerinfo/{{info.2}}">{{info.2}}</a></td>
              <td>{{info.3}}</td>
              <td>{{info.4}}</td>
              <td>{{info.5}}</td>
              <td>{{info.6}}</td>    
          </tr> 
          {% endfor %}
        </tbody>
      </table>
    </div>

{% else %}



<!-- Button allows manager to add flights on flight Dashboard page -->
<br>

        {% if  session['is_manager'] == 1 %}
        <div class="add_flight container" style="display:inline; position:absolute; left:90%; top:15%;">
          <a  type="button" class="btn btn-success form-control-inline" id="myBtn" data-bs-toggle="modal" data-bs-target="#myModal" >
                          Add Flight </a>
        </div>
        
        
        
                          <!-- Modal Add Flights-->
         
         
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
             <div class="modal-content">
                <div class="modal-header">
                   <h4 class="modal-title">Add Flight</h4>
                </div>
                <div class="modal-body">
        
                   <form action="{{url_for('add_flight')}}" method="POST">
        
        
                    <div class="form-group">
                      <label>Flight Number</label>
                      <input type="text" name="flight_num" class="form-control" placeholder="Flight Number" id="flight_num" >
                    </div>

                    <div class="form-group">
                      <label>Week Number</label>
                      <input type="text" name="week_num" class="form-control" placeholder="Week Number" id="week_num" >
                    </div>

                    <div class="form-group">
                      <label>Flight Date</label>
                      <input type="date" name="flight_date" class="form-control" placeholder="Flight Date" id="flight_date" >
                    </div>

                    <div class="form-group">
                      <label>Departure Time</label>
                      <input type="text" name="deptime" class="form-control" placeholder="HH:MM:SS" id="deptime" >
                    </div>
        
                    <div class="form-group">
                      <label>Arrival Time</label>
                      <input type="text" name="arrtime" class="form-control" placeholder="HH:MM:SS" id="arrtime" >         
                    </div>
        
                    <div class="form-group">
                      <label for="regmark">Aircraft Regmark</label>
                      <select name="regmark" id="regmark">
                        <option value=""  >--Aircraft Regmark--</option>
                        {% for regmark in regmarks %}
                        <option value="{{regmark}}">{{regmark}}</option>
                        {% endfor %}   
                      </select>
                    </div>
              
                    <div class="form-group">             
                      <button class="btn btn-primary modal-btn " type="submit">Add Flight</button>   
                    </div>
                 </form>
                </div>
        
                <div class="modal-footer">
                  <form action="{{url_for('add_all_flights')}}" method="POST">
                    <input type="hidden" name="all_flights" value="add_all" >
                    <input type="submit" class="btn btn-success modal-btn" style="margin-bottom: 13px;" value="Add All">
                  </form>
                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
             </div> 
          </div>
              
        </div>
        
        

        {% endif %}






<br>

<!-- Filter function for date range and departure airport -->

  <div class="container filter_tables filters">
    <div class="filter_container">
      <div class="first_filter">
        <form action="{{ url_for('flight_search') }}" method="post">        
            <select name="departure" >
                <option value=""  >--Filter by departure airport--</option>
                {% for airport in airport_names %}
                <option value="{{airport}}">{{airport}}</option>
                {% endfor %}   
            </select> 
          <button type="submit" class="btn btn-dark btn-sm">Submit</button> 
        </form>
      </div>
      <div class="second_filter">
        <form action="{{ url_for('flight_date_search') }}" method="post">
          <input type="date" name="from_date" class="form-control" min="{{date_from}}" max="{{date_to}}" placeholder="From Date">
          <input type="date" name="to_date" class="form-control" min="{{date_from}}" max="{{date_to}}" placeholder="To Date">
          <input type="submit" name="search" value="Filter By Date" class="btn btn-dark btn-sm" >
        </form>
      </div>
    </div>
  </div>

<!-- Returns the flight list  -->
<br>



<div class="flight_info info_table ">
  <h3 style="text-align:center">Flight List</h3>
  <table class="table table-hover" id="bookings">
      
  
    <thead>
      <tr>
        {% for name in column_names %}
          <th>{{name}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for flight in all_flights %}
      <tr>
          <td><a href="/admin/flight_info/{{flight.0}}">{{flight.0}}</a></td>
          <td>{{flight.1}}</td>
          <td>{{flight.2}}</td>
          <td>{{flight.3}}</td>
          <td>{{flight.4}}</td>
          <td>{{flight.5}}</td>
          <td>{{flight.6}}</td>
          <td>{{flight.7}}</td>
          <td>{{flight.8}}</td>
          <td>{{flight.9}}</td>
          <td>{{flight.10}}</td>
          <td>{{flight.11}}</td>
          <td>{{flight.12}}</td>
          <td>{{flight.13}}</td>
          <td>{{flight.14}}</td>
          <td>{{flight.15}}</td>

          <td><a  type="button" class="btn btn-warning" id="myBtn" data-bs-toggle="modal" data-bs-target="#myModal{{flight.0}}" href="/admin/edit_flight/{{flight.0}}" >
            Edit </a></td>
      </tr> 


   <!-- Modal to edit flight details-->

          <div class="modal fade" id="myModal{{flight.0}}" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
            <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Edit Flight: {{flight.0}} </h5>
                  </div>
                  <div class="modal-body" id="modal-body">

                    <form action="/admin/edit_flight/{{flight.0}}" method="POST">

                      {% if  session['is_manager'] == 1 %}

                        <div class="form-group">
                          <label for="regmark">Aircraft Reg Mark</label>
                          <select name="regmark" id="regmark">
                            <option class="dropdown-item" value="{{flight.11}}">{{flight.11}}</option>
                            {% for regmark in regmarks %}
                            <option value="{{regmark}}">{{regmark}}</option>
                            {% endfor %}    
                            </select>
                            
                        </div>


                          <div class="form-group">
                            <label>Flight Date </label>
                            <input type="text" name="flight_date" class="form-control" id="Flight Date" value="{{flight.3}}"  >
                          </div>
                        

                        <div class="form-group">
                          <label>Flight NUmber </label>
                          <input type="text" name="flight_num" class="form-control" id="Flight Number" value="{{flight.1}}"  >
                        </div>
                        

                        <div class="form-group">
                          <label>Week Number </label>
                          <input type="text" name="week_num" class="form-control" id="Week Number" value="{{flight.2}}"  >
                        </div>
                      

                      {% endif %}

                        <div class="form-group">
                          <label>Departure Time</label>
                          <input type="text" name="deptime" class="form-control" id="Departure Time" value="{{flight.4}}" >
                        </div>

                        <div class="form-group">
                          <label>Arrival Time</label>
                          <input type="text" name="arrtime" class="form-control" id="Arrival Time" value="{{flight.5}}" >
                        </div>

                        <div class="form-group">
                          <label>Estimated Departure Time</label>
                          <input type="text" name="estdep" class="form-control" id="Estimated Departure Time" value="{{flight.6}}" >
                        </div>

                        <div class="form-group">
                          <label>Estimated Arrival Time</label>
                          <input type="text" name="estarr" class="form-control" id="Estimated Arrival Time" value="{{flight.7}}" >
                        </div>
    
                        <div class="form-group">
                          <label for="status">Flight Status</label>
                          <select name="status" id="status">
                            <option class="dropdown-item" value="{{flight.15}}">{{flight.15}}</option>
                            {% for status in all_status %}
                            <option class="dropdown-item" value="{{status}}">{{status}}</option>
                            {% endfor %}   
                          </select> 
                        </div>


                        <div class="modal-footer">
                          <input type="submit" name="submit_button" class="btn btn-success" value="Confirm">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                        
                    </form>
                   
                  
                 
              </div>
            </div>
          </div>

      {% endfor %}
    </tbody>
  </table>
</div>


<br>

{% endif %}



{% endif %}
{% endblock %}