{% extends "base.html" %}

{% block title %}Log in{% endblock %}



{% block content %}

  
<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
   Choose Your Name To Sign In
  </a>

  <ul class="dropdown-menu">
    {% for staff in staffs %}
    <li><a class="dropdown-item" href="#">{{ staff[0] }}</a></li>
    <li><a class="dropdown-item" href="#">{{ staff[1] }}</a></li>
    <li><a class="dropdown-item" href="#">{{ staff[2] }}</a></li>
    {% endfor %} 
  </ul>
</div>



  <div class="card-body">
    <h5 class="card-title">Staff Please Sign in :</h5> 
     <form action="{{ url_for ('admin_login') }}" method="post">
         <select name="selected_airport"  >
          <option value=""  >--Please choose your name to login--</option>
          {% for staff in staffs %}
             <option name = "firstname" value="">{{ staff[0] }} </option>
              <option name = "lastname" >{{ staff[1] }}</option>
             <option type="hidden"  id="isManager" name="isManager" value="{{staff[3]}}"> </option>
             {% endfor %}   
         </select>
       <button type="submit" class="btn btn-dark">Login</button> 
     </form>
   </div>
  

  {% endblock %}