{% extends "base.html" %}

{% block title %}Passengers Dashboard{% endblock %}


{% block content %}

{% if msg_sent: %}

  {% with messages = get_flashed_messages() %}
    {% if messages%}
      {% for message in messages %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
      {% endfor %}
     {% endif %} 
  {% endwith %}

{% else: %}

<div class="row container">
  <div class="col-md-6 col-md-offset-3">
    <h3>Admin System</h3>
    {% if session['staff_id']%}
      <p>Staff ID: {{session['staff_id']}} </p>
        <p> Staff Name : {{ session['staff_name'] }}</p>
        {% if  session['is_manager'] == 1 %}
          <p> Staff Type : Manager</p>
        {% else %}
          <p> Staff Type : Staff</p>
        {% endif %}
      <a href="{{ url_for('admin_logout') }}" class="btn btn-dark btn-sm">Logout</a> </p>
    {% else %}
     <p> Not login yet</p>
    {% endif %}
  </div>
</div>


<!-- Search Bar, search passenger information using passenger's LastName -->
<br>

<form class="passenger_search_bar" method="post" action="{{ url_for('search')}}" style="margin:auto;max-width:600px">
    <input type="text" class="container form-control form-control-inline " placeholder="Search by LastName" name="last_name">
    <button class="btn btn-info" type="submit">Search</button>
</form>




<br>
<!-- Button to allow staff add passenger  -->
<div class="add_passenger container" style="text-align: right;">
  <a  type="button" class="btn btn-success form-control-inline add_btn" id="myBtn" data-bs-toggle="modal" data-bs-target="#myModal" >
                  Add Passenger </a>
</div>



                  <!-- Modal Add Passenger-->
 
 
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
     <div class="modal-content">
        <div class="modal-header">
           <h4 class="modal-title">Add Passenger</h4>
        </div>
        <div class="modal-body">

           <form action="{{url_for('add_passenger')}}" method="POST">


            <div class="form-group">
              <label>First Name</label>
              <input type="text" name="firstname" class="form-control" placeholder="First Name" id="firstname" required="1" >
            </div>

            <div class="form-group">
              <label>Last Name</label>
              <input type="text" name="lastname" class="form-control" placeholder="Last Name" id="lastname" required="1">
            </div>


            <div class="form-group">
              <label>Email Address</label>
              <input type="email" name="email" class="form-control" placeholder="Email Address" id="email" required="1">        
            </div>


            <div class="form-group">
              <label>Passport Number</label>
              <input type="tel" name="passport" class="form-control" placeholder="Passport Number" id="passport" required="1">         
            </div>

            <div class="form-group">
              <label>Date Of Birth</label>
              <input type="text" name="dob" class="form-control" placeholder="YYYY-MM-DD" id="dob" required="1">            
            </div>

            <div class="form-group">
              <label>Phone Number</label>
              <input type="tel" name="phone" class="form-control" placeholder="(02X)1234567" id="phone" required="1">            
            </div>

            <div class="form-group">
              <label>Loyalty Tier</label>
              <input type="tel" name="loyalty" class="form-control" placeholder="Loyalty Tier" id="loyalty" required="1" value="1">            
            </div>

            <div class="form-group">
                <button class="btn btn-success modal-btn " type="submit">Add Passenger</button>
            </div>
           </form>
        </div>


        <div class="modal-footer">


           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>


        </div>


     </div>


  </div>


</div>







<br>

<div class="passenger_info">
  <h3 style="text-align:center">Passenger List</h3>
  <table class="table table-hover" id="bookings">
      
       
    <thead>
      <tr>
        {% for name in column_names %}
          <th>{{name}}</th>
        {% endfor %}
      </tr>
    </thead>
  
    <tbody>
      {% for passenger in passengers %}
      <tr>
          <td><a href="/admin/passengerinfo/{{passenger.0}}">{{passenger.0}}</a></td>
          <td>{{passenger.1}}</td>
          <td>{{passenger.2}}</td>
          <td>{{passenger.3}}</td>
          <td>{{passenger.4}}</td>
          <td>{{passenger.5}}</td>
          <td>{{passenger.6}}</td>
          <td>{{passenger.7}}</td>
          <td>{{passenger.8}}</td>
          <td>{{passenger.9}}</td>
          <td>{{passenger.10}}</td>

      </tr> 
      {% endfor %}
    </tbody>
  </table>

</div>


<br>




  



{% endif %}


{% endblock %}
