{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <style>
      body {
          background-image: url('../static/img/pinksky.jpg');
      }
  </style>
{% endblock %}

{% block title %}Home{% endblock %}



  {% with messages = get_flashed_messages() %}
    {% if messages%}
      {% for message in messages %}
        <div class="alert alert-success info_table " role="alert">
          {{ message }}
          <button class="btn btn-outline-dark" onclick="goBack()">Go Back</button>
        </div>
      {% endfor %}
     {% endif %} 
  {% endwith %}

{% block content %}


<div class="customer_home">

  <div class="jumbotron customer_homepage">
    <h5 class="display-4">Check Flights Schedule</h5>
    <form action="{{ url_for ('arrival_departure') }}" method="post">
      <select name="selected_airport"  >
        <label for="airport">Choose The Airport:</label>
          <option value=""  >--Please choose an airport--</option>
          {% for airport in airports %}
          <option value="{{airport[0]}}">{{ airport[1]}}</option>
          {% endfor %}   
      </select>
    <button type="submit" class="btn btn-dark">Submit</button> 
  </form>
  </div>
  
  <hr class="my-4">
  
  
  <div class="jumbotron customer_homepage">
    <h4 class="display-4">Log in to make booking</h4> 
    <form action="{{ url_for ('log_in')}}" method="post" >
     <label>UserID</label>
     <input type="text" placeholder="Email Address" name="userid" data-validation-required-message="Please enter your email address." required="required">
     <button type="submit" class= "btn btn-dark" >Login</button>
    </form>
  </div>
  


</div>


    
    

 
{% endblock %}
